{# src/Sdz/BlogBundle/Resources/views/Blog/index.html.twig #}

{% extends "AnceStarBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block sdzblog_body %}

  <h2>Liste des articles</h2>



{% endblock %}